// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-brand: #F07E70;
$color-white: #FAFAF8;
$color-text:  #2C3245;
$color-gray:  #FAFAF8;

// Background Colors
$bg-color-white: $color-white;
$bg-color-dark:  #2C3245;
$bg-color-gray:  #FAFAF8;

// Border
$color-border: #E9EFF3;

// Links
$color-link:        $color-text;
$color-link-hover:  $color-brand;
