// *----------------------------------*\
//  Settings > Type
// *----------------------------------*/

$font-base:
freight-text-pro, serif;
$font-monospace: 'Source Code Pro', monospace;

$font-size-base:   62.5%;
$font-size-medium: 2.7rem;
$font-size-small:  1.5rem;
$font-size-tiny:   1rem;

$font-weight-light:   300;
$font-weight-regular: 400;
$font-weight-bold:    600;
$font-weight-bolder:  900;

$line-height-base:   round($font-size-base   *  1.7);
$line-height-medium: round($font-size-medium * 1.55);
$line-height-small:  round($font-size-small  * 1.55);
$line-height-tiny:   round($font-size-tiny   * 1.55);
