/*------------------------------------*\
  Components > Header
\*------------------------------------*/

.c-header {

  padding-top: 20px;

  &__inner {
    padding: $base-spacing-unit 0;
    border-bottom: none;
  }

  &__icon {
    vertical-align: middle;
  }

  .nav-item{
    padding-right: 20px;
    font-size: 30px;
    font-weight: 400;
    border-bottom: 4px solid $color-brand;
  }
}
